/* Top Section  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.container{
    display: flex;
    padding: 50px 80px;
}
.head-font{
    font-size: 36px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(245, 33, 68);
    padding: 10px 40px;
    border-radius: 10px;
    background-image: rgb(241, 28, 64);
    color: white;
    transition: background-color 1s;
}
.link-button:hover{
    background-color: rgb(154, 35, 238);
    
}
/* Top Collection */
.containerr{
    padding: 50px 80px;
}
.section-tittle{
text-align: center;
margin-bottom: 40px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course .course-banner img:hover{
    width: 150%;
    height: 150%;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    transition: width 2s;
}
.course-info{
    display: flex;
    align-items: center;
}
.fa-star{
font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.star-flex{
    display: flex;
}
.right-side{
    margin-left: 80%;
}
#id{
    text-decoration: none;
}
/* shadow  */
.course{
    padding-top: 10%;
    border-radius: 10px;
    width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    margin-left: 2%;
    margin-bottom: 5%;
box-shadow:10px 10px 50px gray;
}
/* Featured Products */
.top-pic img{
    width: 400px;
    height: 300px;
    margin-top: 50px;
}
#top-pic-pad{
padding-left: 80px;
}
/* Footer Tag  */
footer{
    text-align: center;
    background-color: black
}
.fcolor{
    color: darkred;
}
.fmission{
    margin-top: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
}
.text-color{
    color: white;
}
#icon-dis{
    padding-right: 5px;
}
#icon-diss{
    padding-right: 5px;}

#icon-disss{
    padding-right: 5px;
} 
#icon-dissss{
    padding-right: 5px;
}